<h2>Pipes Module</h2>
<p>Module for explaining pipes and all functionalities of custom displaying data on the Angular.</p>
<hr>
<h3>Module navigation:</h3>
<ul>
    <li>
        <a href="#pipe-simple" target="_self">Pipe simple</a>
    </li>
    <li>
        <a href="#pipe-toggle-format" target="_self">Pipe toggle format</a>
    </li>
    <li>
        <a href="#pipe-chainded-pars" target="_self">Pipe toggle chained parameters</a>
    </li>
    <li>
        <a href="#pipe-customized" target="_self">Pipe customized</a>
    </li>
</ul>

<hr>
<a id="pipe-simple"></a>
<h3>Pipe simple</h3>
<p>My birthday is {{ birthday | date }}</p>

<hr>
<a id="pipe-toggle-format"></a>
<h3>Pipe toggle format</h3>
<p>My birthday is {{ birthday | date:format }}</p>
<button (click)="toggleFormat()">Toggle Format</button>

<hr>
<a id="pipe-chained-pars"></a>
<h3>Pipe chained parameters</h3>
<p>My chained birthday is {{ birthday | date:'fullDate' | uppercase }}</p>

<hr>
<a id="pipe-customized"></a>
<h3>Pipe customized</h3>
<p>Super power boost: {{ 2 | exponentialStrength: 10 }}</p>


